<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container py-3 mx-auto">
    <a href="javascript:;" onclick="OrderCartItemsForm__submit();" class="btn btn-primary btn-wide">전체 주문하기</a>
    <form method="POST" name="orderCartItemsForm" th:action="@{|/order/create|}" hidden></form>
    <div class="" style="width: 75%;">
        <table class="table table-compact w-full">
            <!-- head -->
            <thead class="text-center">
            <tr>
                <th>
                    x
                </th>
                <th style="width: 50%;">제목</th>
                <th>작가</th>
                <th>가격</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}" th:id="${cartItem.product.Id}">
                <th class="text-center">
                    <button class="btn btn-square btn-outline" th:onclick="removeItem([[${cartItem.product.id}]], this);">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                    </button>
                </th>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="https://placeimg.com/350/200/arch" alt="Shoes"/>
                            </div>
                        </div>
                        <div>
                            <a class="font-bold hover:underline hover:text-[red]" th:href="@{|/product/${cartItem.product.id}|}"><i class="fa-solid fa-book"></i> [[${cartItem.product.subject}]]</a>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <i class="fa-solid fa-user"></i> [[${cartItem.product.member.nickname}]]
                </td>
                <td class="text-center">
                    [[${cartItem.product.price}]] 원
                </td>
                <td class="text-center">
                    <span class="badge"
                          th:text="|${#temporals.format(cartItem.product.createDate, 'yyyy-MM-dd')}|"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <script>
        function OrderCartItemsForm__submit() {

            document.orderCartItemsForm.submit();
        }
        function removeItem(id, element) {
            $.ajax({
                url: "/cart/remove/" + id,
                datatype: "text",
                success: function (msg) {
                    // alert('success');
                    $(element).parent().parent().remove();

                },
                error: function () {
                    alert('fail');
                }
            });
        }
    </script>
</div>
</html>