<html layout:decorate="~{adm/layout}">
<div layout:fragment="content" class="container mx-auto">
    <div class="overflow-x-auto">
        <table class="table table-compact w-full">
            <thead>
            <tr>
                <th>번호</th>
                <th>신청일시</th>
                <th>신청회원</th>
                <th>은행명</th>
                <th>계좌번호</th>
                <th>출금요청금액</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="withdraw : ${withdrawList}">
                <td>[[${withdraw.id}]]</td>
                <td th:text="${#temporals.format(withdraw.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>[[${withdraw.member.username}]]</td>
                <td>[[${withdraw.bankName}]]</td>
                <td>[[${withdraw.bankAccountNo}]]</td>
                <td>[[${withdraw.price}]]</td>
                <td>
                    <form th:if="${withdraw.isWithdraw == false} and ${withdraw.isCanceled == false}" th:action="@{|/adm/withdraw/${withdraw.id}|}" method="post">
                    <button class="btn btn-primary btn-outline btn-sm"
                >입금 완료</button>
                    </form>
                    <a th:if="${withdraw.isWithdraw == true}" class="btn btn-disabled btn-outline btn-sm">입금 완료</a>
                    <a th:if="${withdraw.isCanceled == true}" class="btn btn-disabled btn-outline btn-sm">신청 취소</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>