<!doctype html>
<html lang="en" data-theme="light">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <!-- 모바일에서 디자인이 축소되지 않게 하기 위한 코드 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>멋북스</title>
</head>
<body>

<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 폰트어썸 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>
<!--데이지UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css"/>

<style>
  @font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  html > body {
    font-family: "RIDIBatang";
    text-underline-position: under;
    color: #444;
  }
</style>

<div th:replace="/adm/navbar :: narbarFragment"></div>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block class="hero min-h-screen py-3 px-5 mx-auto" layout:fragment="content"
          style="width:100%;"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>