<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container py-3 mx-auto">
    <div th:replace="common/toastEditorFragment :: editorFragment"></div>
    <div>
        <div class="container py-3 flex">
            <h1 class="text-5xl font-bold mr-auto" style="white-space: nowrap;">
                <i class="fa-regular fa-file-lines"></i> [[${post.subject}]]
            </h1>
            <ul sec:authorize="isAuthenticated()" class="flex gap-3">
                <li th:if="${post.member != null and #authentication.getPrincipal().getUsername() == post.member.username}">
                    <a class="btn btn-primary" th:href="@{|/post/${post.id}/modify|}">
                        <i class="fa-regular fa-pen-to-square"></i> 수정</a>
                </li>
                <li th:if="${post.member != null and #authentication.getPrincipal().getUsername() == post.member.username}">
                    <a class="btn btn-outline btn-error" th:href="@{|/post/${post.id}/delete|}"
                       onclick="if (!confirm('삭제하시겠습니까?')) return false;">
                        <i class="fa-solid fa-trash-can"></i> 삭제</a>
                </li>
            </ul>
        </div>
        <div class="flex">
            <div>
                <span class="badge badge-primary my-auto mr-2">
                    <a href="#">
                        <i class="fa-solid fa-user"></i> [[${post.member.nickname}]]
                    </a>
                </span>
            </div>
            <div class="mr-2">
                <div class="badge" th:text="|생성일시 : ${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}|"></div>
                <div class="badge badge-outline"
                     th:if="${post.updateDate != null}"
                     th:text="|최종수정 : ${#temporals.format(post.updateDate, 'yyyy-MM-dd HH:mm')}|"></div>
            </div>
        </div>
        <div th:if="${tagList != null}">
            <ul class="flex">
                <li class="text-2xl mr-3" th:each="hashTag : ${tagList}">
                    <div class="badge badge-outline badge-lg">
                        <a class="hover:underline hover:text-[red]"
                           th:href="@{|/post/list?tag=${hashTag.keyword.content}|}"
                           th:text="|#${hashTag.keyword.content}|"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mt-2" style="width: 90%; margin: auto;">
            <div class="toast-ui-viewer">
                <script type="text/x-template">
                    [[${post.content}]]
                </script>
            </div>
        </div>
    </div>
</div>
</html>