<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold mb-2" style="white-space: nowrap;">회원정보 수정</h1>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <form class="card-body" th:action="@{/member/modify}" method="post" th:object="${memberModifyForm}">
                    <div th:replace="member/form_errors :: formErrorsFragment"></div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">작가명</span>
                        </label>
                        <input class="input input-bordered" type="text" name="nickname" id="nickname" th:field="*{nickname}">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input class="input input-bordered" type="email" name="email" id="email" th:field="*{email}">
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>