<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <script>
        function ArticleSave__submitForm(form) {
            form.subject.value = form.subject.value.trim();
            if (form.subject.value.length == 0) {
                alert('제목을 입력해주세요.');
                form.subject.focus();
                return;
            }
            const editor = $(form).find(".toast-ui-editor").data("data-toast-editor");
            const markdown = editor.getMarkdown();
            console.log(markdown);
            form.content.value = markdown.trim();
            if (form.content.value.length == 0) {
                alert("내용을 입력해주세요");
                editor.focus();
                return;
            }
            form.submit();
        }
    </script>
    <div class="hero">
        <form th:action="@{/post/write}" onsubmit="ArticleSave__submitForm(this); return false;" method="post">
            <div class="ml-5">
                <p class="text-5xl font-bold mb-2">글 제목</p>
                <input class="input input-bordered" type="text" name="subject" id="subject">
                <p id="size" class="text-3xl" style="float: right;"></p>
            </div>
            <div class="hero-content flex-col lg:flex-row">
                <div>
                    <input type="hidden" name="content"/>
                    <div class="toast-ui-editor" toast-ui-editor--height="calc(100vh - 200px)" id="content"
                         name="content"></div>
                </div>
            </div>
<!--            <script>-->
<!--                function printName() {-->
<!--                    const name = document.getElementById('content').value;-->
<!--                    document.getElementById("result").innerText = name;-->

<!--                    let length = name.length;-->
<!--                    document.getElementById("size").innerText = length;-->
<!--                }-->
<!--            </script>-->
            <button class="btn btn-primary" style="float: right;">저장</button>
        </form>
    </div>
</div>
</html>