<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:action="@{/member/findPassword}" method="post">
        <h3>아이디을 입력하세요</h3>
        <input class="input input-bordered input-md w-full max-w-xs" type="text" id="username" name="username">
        <h3>이메일을 입력하세요</h3>
        <input class="input input-bordered input-md w-full max-w-xs" type="email" id="email" name="email">
        <button type="submit">비밀번호 찾기</button>
    </form>
<!--    <script>-->
<!--        function find_password_email() {-->
<!--            let input_email = document.getElementById('email').value;-->
<!--            let input_username = document.getElementById('username').value;-->
<!--            console.log(input_email, input_username);-->
<!--            $.ajax({-->
<!--                type: "post",-->
<!--                url: "/member/findUsername",-->
<!--                data: {-->
<!--                    email: input_email,-->
<!--                    username: input_username-->
<!--                },-->
<!--                datatype: "text",-->
<!--                success: function (res) {-->
<!--                    alert('임시비밀번호가 메일로 발송되었습니다.');-->
<!--                    location.href = "/member/login";-->
<!--                },-->
<!--                error: function () {-->
<!--                    alert('존재하지 않는 회원입니다.\n아이디 혹은 이메일을 확인하세요');-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</div>
</html>