<html layout:decorate="~{layout}">
<div layout:fragment="content"
     style="background-size: cover; background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210902/pngtree-the-background-photography-of-the-empty-library-bookstore-indoors-image_785539.jpg);">
    <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">

            <div class="text-center lg:text-left text-neutral-content">
                <h1 class="text-5xl font-bold mb-2" style="white-space: nowrap;">비밀번호를 잊으셨나요?</h1>
                <p class="text-center">아이디와 이메일을 입력해 임시 비밀번호를 발급받으세요!</p>
            </div>

            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <form class="card-body" th:action="@{/member/findPassword}" method="post">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">ID</span>
                        </label>
                        <input type="text" placeholder="ID" class="input input-bordered" name="username" id="username"/>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input type="email" placeholder="Email" class="input input-bordered" id="email"
                               name="email"/>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">비밀번호 찾기</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <!--    <script>-->
    <!--        function find_password_email() {-->
    <!--            let input_email = document.getElementById('email').value;-->
    <!--            let input_username = document.getElementById('username').value;-->
    <!--            console.log(input_email, input_username);-->
    <!--            $.ajax({-->
    <!--                type: "post",-->
    <!--                url: "/member/findUsername",-->
    <!--                data: {-->
    <!--                    email: input_email,-->
    <!--                    username: input_username-->
    <!--                },-->
    <!--                datatype: "text",-->
    <!--                success: function (res) {-->
    <!--                    alert('임시비밀번호가 메일로 발송되었습니다.');-->
    <!--                    location.href = "/member/login";-->
    <!--                },-->
    <!--                error: function () {-->
    <!--                    alert('존재하지 않는 회원입니다.\n아이디 혹은 이메일을 확인하세요');-->
    <!--                }-->
    <!--            });-->
    <!--        }-->
    <!--    </script>-->
</div>
</html>