<html layout:decorate="~{layout}">
<div layout:fragment="content">
<!--    <h1>회원가입</h1>-->
<!--    <form th:action="@{/member/join}" method="post" th:object="${memberForm}">-->
<!--        <div th:replace="member/form_errors :: formErrorsFragment"></div>-->
<!--        <div>-->
<!--            <h2>사용자 아이디</h2>-->
<!--            <input class="input input-bordered" type="text" name="username" id="username" th:field="*{username}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <h2>비밀번호</h2>-->
<!--            <input class="input input-bordered" type="password" name="password" id="password" th:field="*{password}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <h2>비밀번호 확인</h2>-->
<!--            <input class="input input-bordered" type="password" name="passwordConfirm" id="passwordConfirm" th:field="*{passwordConfirm}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <h2>작가명</h2>-->
<!--            <input class="input input-bordered" type="text" name="nickname" id="nickname" placeholder="작가명을 입력해야 작가 권한을 가질 수 있습니다."-->
<!--                   th:field="*{nickname}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <h2>이메일</h2>-->
<!--            <input class="input input-bordered" type="email" th:field="*{email}" name="email" id="email">-->
<!--        </div>-->
<!--        <button type="submit">확인</button>-->
<!--    </form>-->

    <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold mb-2" style="white-space: nowrap;">회원가입</h1>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <form class="card-body" th:action="@{/member/join}" method="post" th:object="${memberForm}">
                    <div th:replace="member/form_errors :: formErrorsFragment"></div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">ID</span>
                        </label>
                        <input class="input input-bordered" type="text" name="username" id="username" th:field="*{username}">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input class="input input-bordered" type="password" name="password" id="password" th:field="*{password}">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password Confirm</span>
                        </label>
                        <input class="input input-bordered" type="password" name="passwordConfirm" id="passwordConfirm" th:field="*{passwordConfirm}">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input class="input input-bordered" type="email" name="email" id="email" th:field="*{email}">
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
</html>