<html layout:decorate="~{layout}">
<div layout:fragment="content"
     style="background-size: cover; background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210902/pngtree-the-background-photography-of-the-empty-library-bookstore-indoors-image_785539.jpg);">
    <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left text-neutral-content">
                <h1 class="text-6xl font-bold" style="white-space: nowrap;">Login now!</h1>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <form class="card-body" th:action="@{/member/login}" method="post">
                    <div th:if="${param.error}" class="alert alert-error shadow-lg">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6"
                                 fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span>사용자ID 또는 비밀번호를 확인해 주세요.</span>
                        </div>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">ID</span>
                        </label>
                        <input type="text" placeholder="ID" class="input input-bordered" name="username" id="username"/>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" placeholder="password" class="input input-bordered" id="password"
                               name="password"/>
                        <label class="label">
                            <!-- Put this part before </body> tag -->
                            <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
                            <div class="modal">
                                <div class="modal-box relative">
                                    <label for="my-modal-3"
                                           class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                                    <h3 class="mb-1">이메일을 입력하세요</h3>
                                    <input class="input input-bordered input-md w-full max-w-xs mr-2" type="email"
                                           id="email">
                                    <button class="btn btn-outline btn-primary" type="button" onclick="find_id_email()">
                                        아이디 찾기
                                    </button>
                                </div>
                            </div>
                            <a for="my-modal-3" class="label-text-alt link link-hover mr-2">Forgot ID?</a>
                            <a th:href="@{/member/findPassword}" class="label-text-alt link link-hover">Forgot
                                password?</a>
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function find_id_email() {
            let input_email = document.getElementById('email').value;
            console.log(input_email);
            $.ajax({
                type: "get",
                url: "/member/findUsername?email=" + input_email,
                // data: {
                //     email: input_email
                // },
                datatype: "text",
                success: function (res) {
                    alert('회원님의 아이디는 ' + res + ' 입니다');
                    location.href = "/member/login";
                },
                error: function () {
                    alert('존재하지 않는 회원입니다.');
                }
            });
        }
    </script>


    <!--    <form th:action="@{/member/login}" method="post">-->
    <!--        <div th:if="${param.error}">-->
    <!--            <div>-->
    <!--                사용자ID 또는 비밀번호를 확인해 주세요.-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <h2>아이디</h2>-->
    <!--            <input class="input input-bordered input-md w-full max-w-xs" type="text" name="username" id="username">-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <h2>비밀번호</h2>-->
    <!--            <input class="input input-bordered input-md w-full max-w-xs" type="password" name="password" id="password">-->
    <!--        </div>-->
    <!--        <button type="submit">로그인</button>-->
    <!--    </form>-->
    <!--    <div class="popup-1">-->
    <!--        <div class="popup-1__head">-->
    <!--            <button style="display:block; margin-left:auto;" class="popup-1__btn-close">X</button>-->
    <!--            <h3>이메일을 입력하세요</h3>-->
    <!--            <input class="input input-bordered input-md w-full max-w-xs" type="email" id="email">-->
    <!--            <button type="submit" onclick="find_id_email()">아이디 찾기</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <a class="btn-popup-1">아이디 찾기</a>-->
    <!--    <a th:href="@{/member/findPassword}">비밀번호 찾기</a>-->
    <!--    <script>-->
    <!--        console.clear();-->

    <!--        function Popup1__show() {-->
    <!--            $('.popup-1').css('display', 'block');-->
    <!--        }-->

    <!--        function Popup1__hide() {-->
    <!--            $('.popup-1').css('display', 'none');-->
    <!--        }-->

    <!--        $('.btn-popup-1').click(Popup1__show);-->
    <!--        $('.popup-1__btn-close').click(Popup1__hide);-->

    <!--        function find_id_email() {-->
    <!--            let input_email = document.getElementById('email').value;-->
    <!--            console.log(input_email);-->
    <!--            $.ajax({-->
    <!--                type: "get",-->
    <!--                url: "/member/findUsername?email="+input_email,-->
    <!--                // data: {-->
    <!--                //     email: input_email-->
    <!--                // },-->
    <!--                datatype: "text",-->
    <!--                success: function (res) {-->
    <!--                    alert('회원님의 아이디는 ' + res + ' 입니다');-->
    <!--                    location.href="/member/login";-->
    <!--                },-->
    <!--                error: function () {-->
    <!--                    alert('존재하지 않는 회원입니다.');-->
    <!--                }-->
    <!--            });-->
    <!--        }-->
    <!--    </script>-->
</div>
</html>