<html layout:decorate="~{layout}">
<head>
    <style>
        .popup-1 {
            width: 300px;
            height: 300px;
            background-color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 10px solid black;
            box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.8);
            display: none;
        }
    </style>
</head>
<div layout:fragment="content">
    <form th:action="@{/member/login}" method="post">
        <div th:if="${param.error}">
            <div>
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div>
            <h2>아이디</h2>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <h2>비밀번호</h2>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">로그인</button>
    </form>
    <div class="popup-1">
        <div class="popup-1__head">
            <button style="display:block; margin-left:auto;" class="popup-1__btn-close">X</button>
            <h3>이메일을 입력하세요</h3>
            <input type="email" id="email">
            <button type="submit" onclick="find_id_email()">아이디 찾기</button>
        </div>
    </div>
    <a class="btn-popup-1">아이디 찾기</a>
    <a th:href="@{/member/findPassword}">비밀번호 찾기</a>
    <script>
        console.clear();

        function Popup1__show() {
            $('.popup-1').css('display', 'block');
        }

        function Popup1__hide() {
            $('.popup-1').css('display', 'none');
        }

        $('.btn-popup-1').click(Popup1__show);
        $('.popup-1__btn-close').click(Popup1__hide);

        function find_id_email() {
            let input_email = document.getElementById('email').value;
            console.log(input_email);
            $.ajax({
                type: "get",
                url: "/member/findUsername?email="+input_email,
                // data: {
                //     email: input_email
                // },
                datatype: "text",
                success: function (res) {
                    alert('회원님의 아이디는 ' + res + ' 입니다');
                    location.href="/member/login";
                },
                error: function () {
                    alert('존재하지 않는 회원입니다.');
                }
            });
        }
    </script>
</div>
</html>