<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container py-3 px-5 mx-auto">
    <div class="mb-5">
        <div class="flex justify-center">
            <div class="lg:flex-row">
                <div class="flex">
                    <div class="avatar mr-4">
                        <div class="w-24 mask mask-squircle">
                            <img src="https://placeimg.com/192/192/people"/>
                        </div>
                    </div>
                    <div>
                        <h1 class="text-5xl font-bold mb-2" th:text="${member.username}"></h1>
                        <h2 class="text-2xl" th:if="${member.nickname.length != 0}"
                            th:text="|작가명 : ${member.nickname}|"></h2>
                        <form th:if="${member.nickname.length == 0}" th:action="@{/member/signup/author}" method="post">
                            <input class="input input-bordered" type="text" placeholder="작가로 활동할 이름을 정해보세요!"
                                   name="nickname"
                                   id="nickname">
                            <button class="btn btn-primary">작가 되기</button>
                        </form>
                    </div>
                </div>
                <div>
                    <p class="py-6 text-2xl"><i class="fa-regular fa-envelope"></i> [[${member.email}]]</p>
                    <a class="btn btn-outline btn-primary" th:href="@{/member/modify}">회원정보수정</a>
                    <a class="btn btn-outline btn-success" th:href="@{/member/modifyPassword}">비밀번호 변경</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mb-3 justify-center">
        <a class="btn btn-wide m-1" th:href="@{/member?listType=post}">글</a>
        <a class="btn btn-wide m-1" th:href="@{/member?listType=product}">도서</a>
        <a class="btn btn-wide m-1" th:href="@{/member?listType=orderList}">주문 목록</a>
        <a class="btn btn-wide m-1" th:href="@{/member?listType=myBook}">구매한 도서</a>
    </div>
    <!-- 도서 목록 -->
    <div th:if="${productList != null}">
        <div class="mb-3" th:if="${tagList != null}">
            <ul class="flex justify-center" style="flex-wrap: wrap">
                <li class="mr-1 mb-1">
                    <a class="badge badge-lg badge-outline hover:underline hover:text-[red]"
                       th:href="@{/member?listType=product}">전체
                        도서</a>
                </li>
                <li class="mr-1 mb-1" th:each="tag : ${tagList}">
                    <a class="badge badge-lg badge-outline hover:underline hover:text-[red]"
                       th:href="@{|/member?listType=product&tag=${tag}|}"
                       th:text="|#${tag}|"></a>
                </li>
            </ul>
        </div>
        <div class="flex justify-center" style="flex-wrap: wrap;">
            <div th:each="product : ${productList}" class="m-5">
                <div class="card card-compact bg-base-100 shadow-2xl">
                    <figure><img src="https://placeimg.com/350/200/arch" alt="Shoes"/></figure>
                    <div class="card-body gap-3">
                        <a class="text-2xl card-title" th:href="@{|/product/${product.id}|}"><i
                                class="fa-solid fa-book"></i> [[${product.subject}]]</a>
                        <div class="flex gap-2">
                            <span class="badge badge-secondary mr-2"><i class="fa-solid fa-user"></i> [[${product.memberDto.nickname}]]</span>
                            <span class="badge badge-accent justify-end">[[${product.price}]] 원</span>
                        </div>
                        <div class="flex">
                            <span class="badge mr-2"
                                  th:text="|${#temporals.format(product.createDate, 'yyyy-MM-dd')}|"></span>
                            <span class="badge badge-outline"
                                  th:if="${product.updateDate != null}"
                                  th:text="|${#temporals.format(product.updateDate, 'yyyy-MM-dd')}|"></span>
                        </div>
                        <div class="card-actions flex-wrap">
                            <ul class="flex">
                                <li class="text-2xl mr-3" th:each="hashTag : ${product.productHashTagList}">
                                    <div class="badge badge-outline badge-lg">
                                        <a class="hover:underline hover:text-[red]"
                                           th:href="@{|/member?listType=product&tag=${hashTag.productKeyword.content}|}"
                                           th:text="|#${hashTag.productKeyword.content}|"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="flex gap-3">
                            <a class="btn btn-primary btn-xs" th:href="@{|/product/${product.id}/modify|}">
                                <i class="fa-regular fa-pen-to-square"></i> 수정</a>
                            <a class="btn btn-outline btn-error btn-xs" th:href="@{|/product/${product.id}/delete|}"
                               onclick="if (!confirm('삭제하시겠습니까?')) return false;">
                                <i class="fa-solid fa-trash-can"></i> 삭제</a>
                        </div>
                        <p>[[${product.description}]]</p>
                        <!--                        <div class="card-actions justify-end">-->
                        <!--                            <button class="btn btn-primary">Watch</button>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 도서 목록 끝 -->

    <!-- 글 목록 -->
    <div th:if="${postList != null}">
        <div class="mb-3" th:if="${tagList.size() > 0}">
            <ul class="flex justify-center" style="flex-wrap: wrap">
                <li class="mr-1 mb-1">
                    <a class="badge badge-lg badge-outline hover:underline hover:text-[red]"
                       th:href="@{/member?listType=post}">전체
                        글</a>
                </li>
                <li class="mr-1 mb-1" th:each="tag : ${tagList}">
                    <a class="badge badge-lg badge-outline hover:underline hover:text-[red]"
                       th:href="@{|/member?listType=post&tag=${tag}|}"
                       th:text="|#${tag}|"></a>
                </li>
            </ul>
        </div>
        <div class="text-center my-auto" th:if="${postList.size() == 0}" style="align-items: center; margin-top: 25%;">
            <a class="mx-auto my-auto text-3xl hover:underline hover:text-[skyblue]" th:href="@{/post/write}">
                <i class="fa-regular fa-pen-to-square"></i> 글 작성하기</a>
        </div>
        <div th:if="${postList.size() > 0}" class="overflow-x-auto">
            <table class="table table-compact w-full">
                <thead>
                <tr class="text-center">
                    <th>번호</th>
                    <th style="width:25%;">제목</th>
                    <th style="width:40%;">태그</th>
                    <th>작성일시</th>
                    <th>수정일시</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="post, loop : ${postList}">
                    <td><a class="badge badge-primary" th:text="${post.id}"></a></td>
                    <td>
                        <a class="flex-grow hover:underline hover:text-[red]" th:text="${post.subject}"
                           th:href="@{|/post/${post.id}|}"></a>
                    </td>

                    <td>
                        <ul class="flex">
                            <li class="mr-1" th:each="tag : ${post.hashTagList}">
                                <a class="hover:underline hover:text-[red]"
                                   th:href="@{|/member?listType=post&tag=${tag.keyword.content}|}"
                                   th:text="|#${tag.keyword.content}|"></a>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                    <span th:if="${post.updateDate != null}"
                          th:text="${#temporals.format(post.updateDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 글 목록 끝-->

    <!-- 주문 목록 -->
    <div th:if="${orderList != null}">
        <!--        <div class="text-center my-auto" th:if="${postList.size() == 0}" style="align-items: center; margin-top: 25%;">-->
        <!--            <h1>주문내역이 없습니다!</h1>-->
        <!--        </div>-->
        <div th:if="${orderList.size() > 0}" class="overflow-x-auto">
            <table class="table table-compact w-full">
                <thead>
                <tr class="text-center">
                    <th>번호</th>
                    <th style="width:25%;">품목</th>
                    <th>가격</th>
                    <th>주문일시</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="order, loop : ${orderList}">
                    <td><a class="badge badge-primary" th:text="${order.id}"></a></td>
                    <td>
                        <a class="flex-grow hover:underline hover:text-[red]" th:text="${order.name}"
                           th:href="@{|/order/${order.id}|}"></a>
                    </td>
                    <td>[[${order.calculatePayPrice}]] 원</td>
                    <td th:text="${#temporals.format(order.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <p th:if="${order.isPaid == true}">결제완료</p>
                        <p th:if="${order.isCanceled == true}">결제취소</p>
                        <p th:if="${order.isRefunded == true}">환불</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 주문 목록 끝-->

    <!-- 내가 구매한 도서 목록 -->
    <div th:if="${myBookList != null}">
<!--        <div class="mb-3" th:if="${tagList != null}">-->
<!--            <ul class="flex justify-center" style="flex-wrap: wrap">-->
<!--                <li class="mr-1 mb-1">-->
<!--                    <a class="badge badge-lg badge-outline hover:underline hover:text-[red]"-->
<!--                       th:href="@{/member?listType=myBook}">전체-->
<!--                        도서</a>-->
<!--                </li>-->
<!--                <li class="mr-1 mb-1" th:each="tag : ${tagList}">-->
<!--                    <a class="badge badge-lg badge-outline hover:underline hover:text-[red]"-->
<!--                       th:href="@{|/member?listType=myBook&tag=${tag.productKeyword.content}|}"-->
<!--                       th:text="|#${tag.productKeyword.content}|"></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="flex justify-center" style="flex-wrap: wrap;">
            <div th:each="myBook : ${myBookList}" class="m-5">
                <div class="card card-compact bg-base-100 shadow-2xl">
                    <figure><img src="https://placeimg.com/350/200/arch" alt="Shoes"/></figure>
                    <div class="card-body gap-3">
                        <a class="text-2xl card-title" th:href="@{|/product/${myBook.product.id}|}"><i
                                class="fa-solid fa-book"></i> [[${myBook.product.subject}]]</a>
                        <div class="flex gap-2">
                            <span class="badge badge-secondary mr-2"><i class="fa-solid fa-user"></i> [[${myBook.product.member.nickname}]]</span>
                            <span class="badge badge-accent justify-end">[[${myBook.product.price}]] 원</span>
                        </div>
                        <div class="flex">
                            <span class="badge mr-2"
                                  th:text="|${#temporals.format(myBook.product.createDate, 'yyyy-MM-dd')}|"></span>
                            <span class="badge badge-outline"
                                  th:if="${myBook.product.updateDate != null}"
                                  th:text="|${#temporals.format(myBook.product.updateDate, 'yyyy-MM-dd')}|"></span>
                        </div>
                        <div class="card-actions flex-wrap">
                            <ul class="flex">
                                <li class="text-2xl mr-3" th:each="hashTag : ${myBook.product.productHashTagList}">
                                    <div class="badge badge-outline badge-lg">
                                        <a class="hover:underline hover:text-[red]"
                                           th:href="@{|/product/list?tag=${hashTag.productKeyword.content}|}"
                                           th:text="|#${hashTag.productKeyword.content}|"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p>[[${myBook.product.description}]]</p>
                        <div class="card-actions justify-end">
                            <a class="btn btn-primary btn-sm" th:href="@{|/product/${myBook.product.id}|}"><i class="fa-solid fa-eye"></i> 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 내 도서 목록 끝 -->
</div>
</html>