<!--<div th:fragment="narbarFragment" class="navbar bg-base-100">-->
<!--    <div class="navbar bg-base-100">-->
<!--        <div class="flex-1">-->
<!--            <a class="btn btn-ghost normal-case text-xl">daisyUI</a>-->
<!--        </div>-->
<!--        <div class="flex-none">-->
<!--            <ul class="menu menu-horizontal p-0">-->
<!--                <li>-->
<!--                    <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>-->
<!--                    <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>-->
<!--                </li>-->
<!--                <li><a sec:authorize="isAuthenticated()" th:href="@{/member}">마이페이지</a></li>-->
<!--                <li><a sec:authorize="isAnonymous()" th:href="@{/member/join}">회원가입</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->