<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container py-3 mx-auto">
    <form hidden name="payByRestCashOnlyForm" method="POST"
          th:action="@{|/order/${order.id}/payByRestCashOnly|}"></form>
    <section class="section section-write container mx-auto">
        <script src="https://js.tosspayments.com/v1"></script>

        <script th:inline="javascript">
            const orderId = /*[[ ${order.id} ]]*/ null;
            const buyerName = /*[[ ${order.buyer.username} ]]*/ null;
            const orderName = /*[[ ${order.name} ]]*/ null;
            const orderPayPrice = /*[[ ${order.calculatePayPrice} ]]*/ null;
        </script>

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문 상세내용</h1>

            <div class="flex flex-col gap-3 mt-3">
                <div>
                    주문번호 : [[${order.id}]]
                </div>

                <div th:if="${order.createDate != null}"
                     th:text="|결제일시 : ${#temporals.format(order.createDate, 'yyyy-MM-dd HH:mm')}|">
                </div>

                <div>
                    구매자 : [[${order.buyer.username}]]
                </div>

                <div>
                    가격 : [[${order.calculatePayPrice}]]
                </div>

                <div>
                    <div th:each="orderItem : ${order.orderItems}">
                        <div>
                            도서 : [[${orderItem.product.subject}]] /
                            작가 : [[${orderItem.product.member.username}]] /
                            가격 : [[${orderItem.salePrice}]]
                        </div>
                    </div>
                </div>

                <div th:if="${order.payable}">
                    <div>
                        보유 예치금 : [[${actorRestCash}]]
                    </div>
                    <div class="mb-2"
                         th:with="maxUseRestCash = ${order.calculatePayPrice > actorRestCash ? actorRestCash : order.calculatePayPrice}">
                        <span>사용할 예치금 : </span>
                        <input type="number" id="PaymentForm__useRestCash"
                               th:placeholder="|0 ~ ${maxUseRestCash}|"
                               class="input input-bordered min-w-[300px]" min="0" th:max="${maxUseRestCash}"
                               onkeydown="PaymentForm__useRestCashFix();"
                               onkeyup="PaymentForm__useRestCashFix();"
                        >
                        <label class="inline-flex items-center ml-3">
                            <span>전액사용</span>
                            <input onchange="PaymentForm__useRestCashAllChanged();" id="PaymentForm__useRestCashAll"
                                   type="checkbox" class="ml-2 checkbox">
                        </label>
                    </div>
                    <button th:if="${order.payable}" onclick="payment();" class="btn btn-sm btn-primary">카드결제</button>
                    <button th:if="${order.payable}" th:onclick="location.href='/order/[[${order.id}]]/cancel';"
                            class="btn btn-sm btn-primary">구매취소
                    </button>
                </div>
                <div class="flex gap-3">
                    <p class="badge badge-primary" th:if="${order.isPaid == true}">결제완료</p>
                    <a class="badge badge-error badge-outline"
                       onclick="if (!confirm('환불하시겠습니까?')) return false;"
                       th:href="@{|/order/${order.id}/refund|}" th:if="${order.isPaid == true}">환불</a>
                    <p class="badge badge-error badge-outline" th:if="${order.isCanceled == true}">결제취소</p>
                    <p th:if="${order.isRefunded == true}">환불 완료</p>
                </div>
                <p class="text-red-500">도서 구매 10분 후 부터는 환불이 불가합니다.</p>
                <div>
                    <div>
                        <span>PG결제가격 : </span>
                        <span id="PaymentForm__pgPayPriceDisplay">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script th:inline="javascript">
        // const orderTime = [[${order.createDate}]];
        // const orderId = [[${order.id}]];
        //
        // //10분이 지났는지 확인 후 처리
        // function refund(form) {
        //     const start = new Date(orderTime);
        //     const end = new Date();
        //
        //     var diffTime = (end.getTime() - start.getTime()) / (1000 * 60);
        //
        //     if (diffTime > 10) {
        //         alert('10분이 지나 환불할 수 없습니다.');
        //     }
        //     form.parent().submit();
        // }


        const $PaymentForm__useRestCash = $("#PaymentForm__useRestCash");
        const $PaymentForm__useRestCashAll = $("#PaymentForm__useRestCashAll");
        const $PaymentForm__pgPayPriceDisplay = $("#PaymentForm__pgPayPriceDisplay");

        const tossPayments = TossPayments("test_ck_jZ61JOxRQVEgMJKaBAQ8W0X9bAqw");

        function payment() {
            let useRestCash = parseInt($PaymentForm__useRestCash.val());

            if (orderPayPrice == useRestCash) {
                document.payByRestCashOnlyForm.submit();
                return;
            }

            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: orderPayPrice - useRestCash,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2),
                orderName,
                customerName: buyerName,
                successUrl: window.location.origin + "/order/" + orderId + "/success",
                failUrl: window.location.origin + "/order/" + orderId + "/fail"
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>

    <script>
        function PaymentForm__useRestCashFix() {
            let useRestCash = parseInt($PaymentForm__useRestCash.val());

            if (isNaN(useRestCash)) {
                useRestCash = 0;
            }

            const maxUseRestCash = parseInt($PaymentForm__useRestCash.attr('max'));

            if (useRestCash > maxUseRestCash) {
                useRestCash = maxUseRestCash;
                $PaymentForm__useRestCash.val(maxUseRestCash);
            }

            if (useRestCash == maxUseRestCash) {
                $PaymentForm__useRestCashAll.prop('checked', true);
            } else {
                $PaymentForm__useRestCashAll.prop('checked', false);
            }

            const pgPayPrice = orderPayPrice - useRestCash;

            $PaymentForm__pgPayPriceDisplay.text(pgPayPrice);
        }

        function PaymentForm__useRestCashAllChanged() {
            if ($PaymentForm__useRestCashAll.prop('checked')) {
                const maxUseRestCash = parseInt($PaymentForm__useRestCash.attr('max'));
                $PaymentForm__useRestCash.val(maxUseRestCash);
            } else {
                $PaymentForm__useRestCash.val(0);
            }

            PaymentForm__useRestCashFix();
        }

        PaymentForm__useRestCashFix();
    </script>
</div>
</html>