<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container py-3 mx-auto">
    <div class="text-center my-auto" th:if="${postList.size() == 0}" style="align-items: center; margin-top: 25%;">
        <a class="mx-auto my-auto text-3xl hover:underline hover:text-[skyblue]" th:href="@{/post/write}">
            <i class="fa-regular fa-pen-to-square"></i> 글 작성하기</a>
    </div>
    <div th:if="${postList.size() > 0}" class="overflow-x-auto">
        <table class="table table-compact w-full">
            <thead>
            <tr class="text-center">
                <th>번호</th>
                <th style="width:25%;">제목</th>
                <th style="width:40%;">태그</th>
                <th>작가</th>
                <th>작성일시</th>
                <th>수정일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="post, loop : ${postList}">
                <td><a class="badge badge-primary" th:text="${post.id}"></a></td>
                <td>
                    <a class="flex-grow hover:underline hover:text-[red]" th:text="${post.subject}" th:href="@{|/post/${post.id}|}"></a>
                </td>

                <td>
                    <ul class="flex">
                        <li class="mr-1" th:each="tag : ${post.hashTagList}">
                            <a class="hover:underline hover:text-[red]" th:href="@{|/post/list/?tag=${tag.keyword.content}|}" th:text="|#${tag.keyword.content}|"></a>
                        </li>
                    </ul>
                </td>
                <td>
                    <span th:if="${post.member != null}" th:text="${post.member.username}"></span>
                    <span th:if="${post.member == null}" th:text="unknown"></span>
                </td>
                <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <span th:if="${post.updateDate != null}" th:text="${#temporals.format(post.updateDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>